<p>select-fruits works!</p>
<div class="wrapper">
  <div class="container">
    <h3>Fruits</h3>
    <ng-container *ngTemplateOutlet="checkBoxListTemplate;context:{list: fruits, name: fruitType} ">
    </ng-container>
  </div>
  <div class="container">
    <h3>Vegetables</h3>
    <ng-container *ngTemplateOutlet="checkBoxListTemplate;context:{list: vegetables, name: vegetableType}">
    </ng-container>
  </div>
</div>


<ng-template #checkBoxListTemplate let-list="list" let-name="name">
  <ng-container *ngIf="list">
    <ul (change)="checkHandler($event,list,name)" cla>
      <li *ngIf="list && list.length > 0">
        <label>
          <input type="checkbox" [checked]="isAllChecked(list)" [attr.data-item-id]="allValue" />
          All
        </label>

      </li>
      <li *ngFor=" let item of list; trackBy: getUniqueFruitId">
        <label>
          <input type="checkbox" [checked]="item.checked" [attr.data-item-Id]="item.id" />
          {{item.name}}
        </label>
      </li>
    </ul>
  </ng-container>
</ng-template>
