/* You can add global styles to this file, and also import other style files */
:root {
  --petrol: #025e73;
  --porcelain: #f2f2f2;

  --font-size: 1.3rem;
  --mono: 'Oxygen mono', monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--porcelain);
  color: var(--petrol);
  font-size: var(--font-size);
}
